/* 随机组件的样式更新 */
#random-component {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    overflow: hidden;
    margin: 30px;
    animation: fadeInAndMove 1s ease-out; /* 添加载入动画 */
    transition: transform 0.2s ease; /* 鼠标靠近的 3D 效果 */
}

#random-component p {
    margin: 0;
    text-align: center;
}